*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    text-align: center;
}

body{
    background-color: #213555;
    color: #EEF5FF;
}

h2{
    margin-top: 3%;
}

.container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
    background-color: #EEF5FF;
    color: #040D12;
}

.subhead{
    margin: 2% 0;
}

#roundResult{
    margin-bottom: 3%;
}

.playerOptions{
    display: flex;
    margin: 2% 10%;
    justify-content: space-around;
}

.playerOption{
    text-align: center;
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid red;
    border-radius: 10px;
    cursor: pointer;
}

.playerOption:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.playerOption img{
    margin: 2px 0;
}

.choiceDisplay{
    display: flex;
    justify-content: space-around;
    margin: 3% 0;
}

.scoreDisplay{
    display: flex;
    justify-content: space-around;
}

#gameResult{
    font-weight: bold;
    font-size: 34px;
    margin-top: 2%;
}
